@import url('../../fonts/fonts.css');

body {
    background-image:  url(./hero/hero-sect_bg.jpg);
    background-size: cover;
}

.section {
    // max-width: 1200px;
    // margin: 0 auto;
}


//======Section Hero========
@import url('./hero/hero.scss');


//======Section About========
@import url('./about__hero/about__left.scss');
@import url('./about__hero/about__right.scss');