@import url('../../fonts/fonts.css');

body {
    background-image:  url(./hero/hero-sect_bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@import url('./hero/hero.scss');

@import url('./about__hero/about__left.scss');
@import url('./about__hero/about__right.scss');

@import url('./map/map.scss');

@import url('./footer/footer.scss');