@import url('../../fonts/fonts.css');


.hero {
    display: flex;
    flex-direction: column;
    background-image:  url(./hero-sect_bg.jpg);
    background-size: cover;
}

.hero__row {
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 140px;
    align-items: center;
    margin: 0
}

.hero__socials {
    margin-top: 30px;

    .socials__link {
        opacity: 0.5;
        
        &:hover {
            opacity: 1;
        }
    }
}

.socials__item {

}

.socials__link {
    display: block;
    background: no-repeat;
    opacity: .5;

    &_vk {
        background:  url(../../icons/vk.svg) no-repeat;
        height: 17px;
        width: 30px;
    }

    &_git {
        background:  url(../../icons/github.svg) no-repeat;
        height: 22px;
        width: 26px;

    }

    &_in {
        background:  url(../../icons/in.svg) no-repeat;
        height: 22px;
        width: 24px;
    }
}

.hero__menu  {
    position: relative;
}

.hero__menu-position {
    position: absolute;
    top: 28px;
    right: 30px;
}

.hamburger {
    background:  url(../../icons/hamburger.svg) no-repeat;
    background-origin: content-box;
    display: block;
    height: 35px;
    width: 40px;
    cursor: pointer;
}

//==========
.hero__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    //background: url(../../icons/about_header.svg) no-repeat;
}

.section-title {

}

.user {

}

.user__description {
    text-align: center;
    color: #fff;
}

.user__name {
    font-family: 'robotomedium';
    font-size: 35px;
    
    &-margin {
        margin-bottom: 5px;
    }
}

.user__info {
    font-family: 'robotoregular';
    font-size: 16px;
    opacity: .7;
}



.hero__scroll-btn {
    display: flex;
    justify-content: center;
    padding: 134px 0 70px;
}

.arrow-down {
    background: url(../../icons/arrow_down.svg) no-repeat;
    border: none;
    cursor: pointer;
    width: 26px;
    height: 17px;
    display: block;
    background-size: contain;
    opacity: .7;
    outline: 0;

    &:hover {
        opacity: 1;
    }
}

.arrow-up {
    transform: rotate(180deg);
}