@import url('../../fonts/fonts.css');

body {
    background-image:  url(./hero/hero-sect_bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    // max-width: 1200px;
    // margin: 0 auto;
}

.hero {
    align-self: stretch;
}



//======Section Hero========
@import url('./hero/hero.scss');


//======Section About========
@import url('./about__hero/about__left.scss');
@import url('./about__hero/about__right.scss');