section.section.slider
    .slider__title.slider__title_margin
        .slider__title_bgr
        .slider__title_text.block_title Мои работы
    .slider__block
        .slider__info Информация
        .slider__display Большая картинка
        .slider__btns Кнопки