section.section.slider
    .triangle.slider__triangle
        svg(viewBox = "0 0 100 100" preserveAspectRatio = "none").triangle_left
            polygon(fill="#faf8f0" points="0,100 -7,0 100,100")
        svg(viewBox = "0 0 100 100" preserveAspectRatio = "none").triangle_right
            polygon(fill="#faf8f0" points="0,100 100,9   100,100")
    .slider__title.slider__title_margin
        .slider__title_bgr
        .slider__title_text.block_title Мои работы
    .slider__block
        .slider__info Информация
        .slider__display Большая картинка
        .slider__btns Кнопки