@mixin tablets() {
    @media screen and (max-width: 760px) {
        @content;
    }
}


.slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 27px 0 0 0;
    background-color: #faf8f0;
}

.slider__title {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    // width: 30%;
}

.slider__title_margin {
    margin-bottom: 100px;
}

.slider__title_bgr {
    background: url(./../../../icons/works_header.svg) no-repeat;
    background-size: contain;
    background-position: 50%;
    position: absolute;
    top: -33px;
    opacity: .1;
    width: 100%;
    height: 180px;
}

.slider__title_text {
    font-family: 'bernier_regularregular';
    font-size: 63px;
    text-align: center;
    line-height: 1.1;
    color: #373e42;
    letter-spacing: 1.1px;
    // width: 280px;
}

.slider__block {
    height: 100vh;
    display: flex;
    color: #fff;
    font-weight: bold;
    flex-direction: column;
    flex-wrap: wrap;

    @include tablets() {
        flex-wrap: nowrap;
    }
}

.slider__info {
    background: rgb(22, 160, 133);
    width: 50%;
    height: 100%;
}

.slider__display {
    background: #2c3e50;
    width: 50%;
    height: 70%;

    @include tablets () {
        order: -10;
    }
}

.slider__btns {
    background: #d35400;
    width: 50%;
    height: 30%;
}

.slider__info, .slider__display, .slider__btns {
    @include tablets () {
        width: 100%;
    }
}