.hero {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 25px 31px 0;
}

.hero__row {
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.socials__item + .socials__item  {
    margin-left: 28px;
}

.socials__link {
    display: block;
    opacity: .5;
}

.socials__link:hover {
    opacity: 1;
}

.socials__link_vk {
    background:  url(../../../icons/vk.svg) no-repeat;
    height: 17px;
    width: 30px;
}

.socials__link_git {
    background:  url(../../../icons/github.svg) no-repeat;
    height: 22px;
    width: 26px;
}

.socials__link_in {
    background:  url(../../../icons/in.svg) no-repeat;
    height: 22px;
    width: 24px;
}


.hero__menu  {
    z-index: 15;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger .line{
    width: 40px;
    height: 4px;
    background-color: #ecf0f1;
    display: block;
    margin: 10px auto;
    transition: all .3s ease-in-out;
}

#hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger-1.is-active .line:nth-child(1){
    transform: translateY(14px) rotate(45deg);
  }
  
  #hamburger-1.is-active .line:nth-child(3){
    transform: translateY(-14px) rotate(-45deg);
  }

.hero__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section-title {
    background: url(./../../../icons/portfolio_header.svg) no-repeat;
    background-size: contain;
    background-position: center;
    opacity: .1;
    width: 100%;
    height: 276px;
    position: absolute;
    top: 84px;
    left: 13px;
}

.hero__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.user__pic {
    width: 141px;
    height: 141px;
    border-radius: 50%;
    margin-bottom: 28px;
    overflow: hidden;
    background-image: url(./hero-pic.jpg);
}

.user__description {
    text-align: center;
    color: #fff;
}

.user__name {
    font-family: 'robotomedium';
    font-size: 35px;
    
    &-margin {
        margin-bottom: 5px;
    }
}

.user__info {
    font-family: 'robotoregular';
    font-size: 16px;
    opacity: .7;
}

.hero__scroll-btn {
    display: flex;
    justify-content: center;
    padding: 134px 0 63px;
}

.arrow-down {
    background: url(../../../icons/arrow_down.svg) no-repeat;
    border: none;
    cursor: pointer;
    width: 26px;
    height: 17px;
    display: block;
    background-size: contain;
    opacity: .7;
    outline: 0;

    &:hover {
        opacity: 1;
    }
}

.arrow-up {
    transform: rotate(180deg);
}

@media screen and (max-width: 760px) {
    .hero {
        padding: 25px 16px 0 25px;
    }

    .socials__item_hero + .socials__item_hero {
        margin-left: 28px;
    }

    .hero__user {
        padding-top: 56px;
    }

    .hero__scroll-btn {
        padding: 98px 0 39px;
    }
}
    
@media screen and (max-width: 320px) {

    .hero {        
        padding: 10px 9px 0 10px;
    }

    .socials {
        padding: 3px 0;
    }

    .socials__link_vk {
        background-size: contain;
        height: 16px;
        width: 26px;
    }

    .socials__link_git {
        background-size: contain;
        height: 22px;
        width: 23px;
    }

    .socials__link_in {
        background-size: contain;
        height: 19px;
        width: 23px;
    }

    .socials__item_hero + .socials__item_hero {
        margin-left: 28px;
    }

    .hamburger {
        background-size: contain;
        height: 22px;
        width: 26px;
    }

    .hero__user {
        padding-top: 78px;
    }

    .user__name {
        font-size: 21px;
    }

    .user__name-margin {
        margin-bottom: 10px;
    }

    .user__info {
        font-size: 14px;
    }

    .hero__scroll-btn {
        padding: 155px 0 42px;
    }
}