section.section.hero
    .hero__row
        ul.socials.hero__socials
            each item in ['vk', 'git', 'in']
                li.socials__item
                    a(href="#" class=`socials__link_${item}`).socials__link
        .hero__menu
            .hamburger
    .hero__title
        .section-title
            //- object(type="image/svg+xml" data="./images/portfolio_header.svg").section-title__pic
                //- use(xmlns:xlink = "./images/about_header.svg")
        .user.hero__user
            .user__pic
                img(src="./images/hero-pic.jpg" alt="").user__avatar
            .user__description
                .user__name.user__name-margin Киров Сергей
                .user__info Личный сайт веб-разработчика
    .hero__scroll-btn
        button(type="button").arrow-down