.hero {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 25px 31px 0;
}

.hero__row {
    display: flex;
    justify-content: space-between;
}

.socials {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.socials__link {
    opacity: 0.5;
    
    &:hover {
        opacity: 1;
    }
}

.socials__item + .socials__item  {
    margin-left: 28px;
}

.socials__link {
    display: block;
    opacity: .5;

    &:hover {
        opacity: 1;
    }
}

.socials__link_vk {
    background:  url(../../../icons/vk.svg) no-repeat;
    height: 17px;
    width: 30px;
}

.socials__link_git {
    background:  url(../../../icons/github.svg) no-repeat;
    height: 22px;
    width: 26px;
}

.socials__link_in {
    background:  url(../../../icons/in.svg) no-repeat;
    height: 22px;
    width: 24px;
}


.hero__menu  {
    // position: absolute;
    // top: 28px;
    // right: 30px;
}

.hamburger {
    background:  url(../../../icons/hamburger.svg) no-repeat;
    background-origin: content-box;
    display: block;
    cursor: pointer;
    height: 35px;
    width: 40px;
}

.hero__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section-title {
    background: url(./../../../icons/portfolio_header.svg) no-repeat;
    background-size: contain;
    background-position: center;
    opacity: .1;
    width: 100%;
    height: 276px;
    position: absolute;
    top: 84px;
    left: 13px;
}

.hero__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.user__pic {
    width: 141px;
    height: 141px;
    border-radius: 50%;
    margin-bottom: 28px;
    overflow: hidden;
}

.user__description {
    text-align: center;
    color: #fff;
}

.user__name {
    font-family: 'robotomedium';
    font-size: 35px;
    
    &-margin {
        margin-bottom: 5px;
    }
}

.user__info {
    font-family: 'robotoregular';
    font-size: 16px;
    opacity: .7;
}

.hero__scroll-btn {
    display: flex;
    justify-content: center;
    padding: 134px 0 63px;
}

.arrow-down {
    background: url(../../../icons/arrow_down.svg) no-repeat;
    border: none;
    cursor: pointer;
    width: 26px;
    height: 17px;
    display: block;
    background-size: contain;
    opacity: .7;
    outline: 0;

    &:hover {
        opacity: 1;
    }
}

.arrow-up {
    transform: rotate(180deg);
}
