
.about__right {
    display: flex;
    justify-content: flex-start;
    flex-basis: 50%;
    background-color: #eeebdf;
    padding: 7px 0px;
}

.about__right--content {
    flex-basis: 67%;
    display: flex;
    flex-direction: column;    
    padding-left: 39px;
}

.about__right-title {
    width: 48%;
    text-align: center;
    margin: 0 auto 15px;
}

.block-subtitle {

}

.about__right-description {
    margin-bottom: 4px;
}

.skills-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills-list__item {

}

.skills-list__item-margin {
    margin-bottom: 34px;
}

.skills-row {

}

.skills-row__title {
    font-family: 'robotomedium';
    font-size: 28px;
    color: #455a64;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.skills-row__list {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.skills-row__itm { 
}

.skills-row__itm + .skills-row__itm {
    margin-left: 37px;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skill__circle {
    background-image: url(./skill_bg.png);
    width: 110px;
    height: 110px;
}

.skill__title {
    font-family: 'robotomedium';
    font-size: 13px;
    color: #00bfa5;
    position: absolute;
    text-align: center;
    max-width: 60%;
}