
.about {
    display: flex;
    justify-content: center;
    padding: 7px 0 0 0;
    width: 100%;
    position: relative;
}

.about__left {
    display: flex;
    justify-content: flex-end;
    background-color: #efeee9;
    width: 50%;
}

.triangle {
    position: absolute;
    display: flex;
    width: 100%;
    top: -150px;
    z-index: -30;
}

svg {
    width: 50%;
    height: 158px;
    display: flex;
}




.about__left--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 39px;
}

.block_title {
    text-transform: uppercase;
    font-family: 'bernier_regularregular';
    color: #373e42;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        background: #c4cbcd;
        margin-right: 20px; 
        width: 22px;
        height: 5px;
    }
     
    &::after {
        content: "";
        background: #c4cbcd;
        margin-left: 20px; 
        width: 22px;
        height: 5px;
    }
    
}

.block_title-main {
    font-size: 63px;
    margin-bottom: 46px;
}

.user-description {
    width: 73%;
}

.user-description__image {
    display: flex;
    justify-content: center;
}

.description__image-margin {
    margin-bottom: 34px;
}

.user-description__avatar {
    display: block;
    width: 442px;
    height: 390px;
    background: url(./about_bg.jpg) no-repeat;
    background-position: center;

}

.user-description--title {
    margin-bottom: 30px;
    color: #455a64;
}

.block-subtitle {
    font-size: 35px;
    color: #455a64;

        &::before {
            margin-right: 34px;
        }
         
        &::after {
            margin-left: 34px;
        }
}

.user-description--text {
    margin-bottom: 41px;
}

.text-content {
    text-align: left;
    font-family: 'robotoregular';
    font-size: 16px;
}