.total-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(113, 189, 165, .87);
    z-index: 10;
    padding-top: 95px;
}

.total__list {
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total__item {
    display: flex;
    align-items: center;
    &::after {
        content: "";
        background: #FFFFFF;
        opacity: .2;
        margin-left: 18px; 
        width: 22px;
        height: 5px;
    }
}

.total__item::before, .total__item::after {
    content: "";
    background: #FFFFFF;
    opacity: .2;
    margin: 0 18px 0 18px; 
    width: 22px;
    height: 5px;
}

.total-menu-hidden {
    display: none;
}

.total__item-margin {
    margin-bottom: 70px;
}

.total__link {
    font-family: 'bernier_regularregular';
    font-size: 63px;
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 760px) {
    .total-menu {
        padding-top: 230px;
    }
    .total__link {
        font-size: 49px;
    }
}

@media screen and (max-width: 320px) {
    .total-menu {
        padding-top: 110px;
    }
    .total__link {
        font-size: 35px;
    }
}