
.review {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    background-image: url(./review_bg.jpg);
    background-size: cover;
    padding: 55px 24px 0 24px;
}

.review__title {
    display: flex;
    justify-content: center;
    position: relative;
    // width: 30%;
}

.review__title-margin {
    margin-bottom: 100px;
}

.review__title_bgr {
    background: url(./../../../icons/about_header.svg) no-repeat;
    background-size: contain;
    background-position: 50%;
    position: absolute;
    top: -33px;
    opacity: .1;
    width: 100%;
    height: 180px;
}

.review__title_block {
    font-family: 'bernier_regularregular';
    font-size: 63px;
    text-align: center;
    line-height: 1.1;
    color: #373e42;
    letter-spacing: -2px;
    width: 99%;
}

.review__text {
    color: #455a64;
    line-height: 1.7em;
}

.review__block {
    display: flex;
    justify-content: center;
    width: 100%;
}

.review__content {
    position: relative;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review__content::before {
    background-image: url(./review_bg.png);
    content: "";
    position: absolute;
    height: 29px;
    width: 33px;
    top: -52px;
}

.review__content + .review__content {
    margin-left: 34px;
}

.review__text {
    margin-bottom: 17px;
}

.review__autor {
    display: flex;
    align-items: center;
}

.review__autor-pic {
    width: 78px;
    height:78px;
    border-radius: 50%;
}

.review__pic-1 {
    background-image: url(./review1_bg.jpg);
    background-position: center;
}

.review__pic-2 {
    background-image: url(./review2_bg.jpg);
}

.review__autor_info {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #20b5a1;
}

.review__info_margin {
    margin-left: 21px;
}

.review__autor-name {
    font-family: 'robotobold';
    line-height: 1.7;
}

.review__autor-status {
    font-family: 'robotoregular';
}

@media screen and (max-width: 760px) {
    .review {
        padding: 40px 24px 0 24px;
    }

    .review__title_bgr {
        top: -67px;
        width: 115%;
        height: 180px;
        left: -15px;
    }

    .review__title_block {
        font-size: 49px;
        width: 100%;
    }

    .review__title-margin {
        margin-bottom: 91px;
    }

    .text-content {
        font-size: 14px;
    }

    .review__autor_info {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {

    .review__block {
        flex-wrap: wrap;
    }

    .review__content:nth-child(1) {
        margin-bottom: 50px;
    }

    .review__content:before {
        left: 43%;
    }

    .review__content+.review__content {
        margin-left: 0;
    }
}