@import url('../../fonts/fonts.css');
@import url('./login/login.scss');
@import url('./flip.scss');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:  url(./login_bg.jpg);
    background-size: cover;
    height: 100vh;
}
//Кнопка авторизации
.welcome {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    width: 71.5%;   
}

.welcome__button_position {
    margin-top: 24px;
}

.welcome__button {
    display: flex;
    justify-content: flex-end;
}

.welcome__button_link {
    a {
        font-family: 'robotoregular';
        color: #ffffff;
        text-decoration: none;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 14px 27px;
        transition: .25s ease;
        display: block;
        &:hover {
            background-color: #ffffff;
            color: #00bfa5;
        }
        &:active {
            background-color:rgba(255,252,252,0.75);
            color: darken(#00bfa5, 10%);
        }
    }
}

// Стили из формы авторизации
.welcome__form {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__form_wrap {
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}

.welcome__form_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome__form_box {
    padding: 37px 0 40px;
    background: rgba(255,252,252,0.85);
}

.block-title {
    font-size: 35px;
    text-transform: uppercase;
    margin: 0 0 33px 0;
    font-family: 'bernier_regularregular';
    color: #455a64;
    display: flex;
    align-items: center;

    &::before {
        content: "";
        background: #c4cbcd;
        margin-right: 20px; 
        width: 22px;
        height: 5px;
    }
     
    &::after {
        content: "";
        background: #c4cbcd;
        margin-left: 20px; 
        width: 22px;
        height: 5px;
    }
    
}
// Стили из формы авторизации

//Стили из секции hero страницы about
.hero__user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user__pic {
    width: 141px;
    height: 141px;
    border-radius: 50%;
    overflow: hidden;
}

.welcome__pic {
    margin-bottom: 16px;
}

.user__description {
    text-align: center;
    color: #455a64;
}

.welcome__description {
    margin-bottom: 35px;
}

.user__name {
    font-family: 'robotomedium';
    font-size: 28px;
    
    &-margin {
        margin-bottom: 0;
    }
}

.welcome__name {
    margin-bottom: 8px;
}

.user__info {
    font-family: 'robotoregular';
    font-size: 16px;
    opacity: .8;
    color: #455a64;
}

.socials {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.socials__link {
    opacity: 0.5;
    
    &:hover {
        opacity: 1;
    }
}

.socials__item + .socials__item  {
    margin-left: 28px;
}

.socials__link {
    display: block;
    opacity: .5;

    &:hover {
        opacity: 1;
    }
}

.socials__link_vk {
    background:  url(./vk_grn.png) no-repeat;
    height: 17px;
    width: 30px;
}

.socials__link_git {
    background:  url(./git_grn.png) no-repeat;
    height: 22px;
    width: 26px;
}

.socials__link_in {
    background:  url(./ln_grn.png) no-repeat;
    height: 22px;
    width: 24px;
}

//Стили из секции hero страницы about

//Кнопки 
.buttons {
    display: flex; 
}

.button__item {
    background-color: rgba(8,176,157,0.7);
    border: none;
    padding: 0;
    
    & + .button__item {
        border-left: 2px solid #74b9b7;
    }

}

.welcome__buttons {
    
    .button__item:nth-child(1) {
        flex-basis: 40%;
    }

    .button__item:nth-child(2) {
        flex-basis: 34%;
    }

    .button__item:nth-child(3) {
        flex-basis: 26%;
    }
}

.button__link {
    display: block;
    color: #fff;
    text-decoration: none;
    transition: .25s ease;
    font-family: 'robotomedium';
    font-size: 16px;

    &:hover {
        background-color: rgba(57, 196, 188, 0.70);;
    }
}

.button__link-padding {
    padding: 14px 31px;
}

.footer {
    font-family: 'robotolight';
    font-size: 16px;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
}

//много совпадений со странице login
@media screen and (max-width: 760px) {
    .auth-block {
        width: 98%;
    }

    .button__link-padding {
        padding: 14px 20px;
    }

    .user__name {
        font-size: 26px;
    }

    .footer {
        font-size: 14px;
    }
}


@media screen and (max-width: 320px) {
    .auth-block__button_link {
        font-size: 14px;
        a {
            padding: 11px 19px;
        }
    }

    .auth-block__button_position {
        margin-top: 10px;
    }
    
    .auth-block {
        align-items: center;
    }

    .user__name {
        font-size: 21px;
    }

    .button__link-padding {
        padding: 14px 16px;
    }
    
    .button__item .button__link {
        font-size: 14px;
    }
}