@import url('../../fonts/fonts.css');
@import url('../about/about.scss');
@import url('../about/total-menu/total-menu.scss');
@import url('./swipe/swipe.scss');

.blog {
    position: relative;
    display: flex;
    background-color: #fff;
    display: flex;
    padding: 64px 0px 300px;
}

.hero__blog {
    padding-top: 22px;
    margin-bottom: 66px;
}

.hero__blog-pic {
    margin-bottom: 17px;
}

.user__name-blog {
    font-family: 'bernier_regularregular';
    font-size: 63px;
    text-transform: uppercase;
}

.blog__scroll-btn {
    display: none;
}

.blog-title {
    background: url(./../../icons/blog_header.svg) no-repeat;
    background-size: inherit;
    background-position: 50%;
    opacity: .1;
    width: 100%;
    height: 276px;
    position: absolute;
    top: 96px;
    left: 7px;
}

.blog__triangle {
    top: -158px;
}

.blog__nav {
    display: flex;
    justify-content: flex-end;
    width: 33%;
}

.blog__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 6px 7px;
    margin: 0;
}

.blog_list-item {
    margin-bottom: 20px;
    max-width: 300px;
}

.blog_list-item:nth-child(2) {

    .blog_list-link {
        font-family: 'robotobold';
        color: #00bfa5;
        border-right: 3px solid #00bfa5;
    }
}

.blog_list-link {
    display: block;
    font-family: 'robotoregular';
    font-size: 16px;
    color: #455a64;
    cursor: pointer;
    line-height: 1.5;
    padding: 9px 17px;
}

.blog_list-link-active {
    font-family: 'robotobold';
    color: #00bfa5;
}

.blog__news {
    max-width: 41%;
    padding-left: 91px;
}

.blog__article {

    &:nth-child(1) {
        border-bottom: 5px solid #f1f1f2;
        margin-bottom: 64px;
    }
}

.blog__article-title {
    font-family: 'bernier_regularregular';
    font-size: 35px;
    color: #455a64;
    text-transform: uppercase;
    margin-bottom: 17px;
    background-image: url("./art_1.jpg");
    background: none;
}

.blog__article-date {
    font-family: 'robotoregular';
    font-size: 16px;
    color: #00bfa5;
    margin-bottom: 21px;
    opacity: 0.7;
}

.blog__article-content {
    font-family: 'robotoregular';
    font-size: 16px;
    color: #455a64;
    line-height: 26px;

    img {
        margin: 8px 0 62px;
        width: 100%;
    }
}

@media screen and (max-width: 760px) {

    .hero__blog {
        padding-top: 59px;
        margin: 0;
    }

    .user__name-blog {
        font-size: 49px;
    }

    .user__info {
        font-size: 14px;
    }

    .blog {
        padding: 48px 0 300px;
    }

    .blog__scroll-btn {
        display: flex;
        padding: 92px 0 50px;
    }

    .blog__triangle {
        top: -66px;
        svg {
            height: 67px;
        }
    }

    .blog__nav {
        display: none;
    }

    .blog__news {
        max-width: 100%;
        padding: 0 20px;
    }

    .blog__article-title {
        font-size: 30px;
    }

    .blog__article-date {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .blog__article-content {
        font-size: 14px;
        line-height: 22px;

        p {
            margin: 0;
        }
    }
}

@media screen and (max-width: 320px) {

    .blog-title {
        background-size: 67%;
        top: 119px;
    }

    .hero__blog-pic {
        margin-bottom: 22px;
    }

    .user__name-blog {
        font-size: 35px;
    }

    .blog__scroll-btn {
        padding: 153px 0 51px;
    }

    .blog {
        padding: 33px 0 300px;
    }

    .blog__triangle {
        top: -29px;
        svg {
            height: 30px;
        }
    }

    .blog__news {
        padding: 0 10px;
    }

    .blog__article-title {
        font-size: 21px;
        margin-bottom: 12px;
    }

    .blog__article:first-child {
        margin-bottom: 5px;
    }

    .blog__article-content img {
        margin: 8px 0 20px;
        width: 100%;
    }

    .blog__article-date {
        margin-bottom: 29px;
    }
}