extends ../base
block head
    title blog page
block content
    include swipe/swipe
    include ./../about/total-menu/total-menu

    section.section.hero
        .hero__row
            ul.socials.hero__socials
                each item in ['vk', 'git', 'in']
                    li.socials__item
                        a(href="#" class=`socials__link_${item}`).socials__link
            .hero__menu
                .hamburger#hamburger-1
                    span.line
                    span.line
                    span.line
        .hero__title
            .section-title.blog-title
                //- object(type="image/svg+xml" data="./images/portfolio_header.svg").section-title__pic
                    //- use(xmlns:xlink = "./images/about_header.svg")
            .user.hero__user.hero__blog
                .user__pic.hero__blog-pic
                    img(src="./images/hero-pic.jpg" alt="").user__avatar
                .user__description
                    .user__name.user__name-margin.user__name-blog Блог
                    .user__info Статьи, которые я написал
        .hero__scroll-btn.blog__scroll-btn
            button(type="button").arrow-down

    section.section.blog
        .blog__triangle.triangle
            svg(viewBox = "0 0 100 100" preserveAspectRatio = "none").triangle_left
                polygon(fill="#fff" points="0,100 -7,0 100,100")
            svg(viewBox = "0 0 100 100" preserveAspectRatio = "none").triangle_right
                polygon(fill="#fff" points="0,100 100,9   100,100")
        .blog__nav
            ul.blog__list
                -
                    var titles = [
                        'Самое важное и SASS',
                        'Приёмы в вёрстке, без которых не обходится ни один сайт',
                        'Самый необходимый набор Gulp плагинов',
                        'Почему я выбрал Jade'
                    ]
                each item in titles
                    li.blog_list-item
                        a.blog_list-link #{item}
        .blog__news
            article.blog__article
                .blog__article-title Самое важное в SASS
                .blog__article-date 22 ноября 2016
                .blog__article-content
                    p 
                    | Таким образом начало повседневной работы по формированию позиции 
                    | позволяет выполнять важные задания по разработке направлений прогрессивного 
                    | развития. Разнообразный и богатый опыт новая модель организационной деятельности 
                    |играет важную роль в формировании новых предложений. Товарищи! новая модель 
                    |организационной деятельности играет важную роль в формировании систем массового участия.
                    p
                    |Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу 
                    |(специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки 
                    |и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении 
                    |поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
                    | С другой стороны рамки и место обучения кадров влечет за собой 
                    |процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям
                    img(src="./images/art_1.jpg", alt="")
                
            article.blog__article
                .blog__article-title Приёмы в вёрстке, без которых не обходится ни один сайт
                .blog__article-date 13 ноября 2016
                .blog__article-content
                    p 
                    | Таким образом начало повседневной работы по формированию позиции 
                    | позволяет выполнять важные задания по разработке направлений прогрессивного 
                    | развития. Разнообразный и богатый опыт новая модель организационной деятельности 
                    |играет важную роль в формировании новых предложений. Товарищи! новая модель 
                    |организационной деятельности играет важную роль в формировании систем массового участия.
                    p
                    |Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу 
                    |(специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки 
                    |и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении 
                    |поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
                    | С другой стороны рамки и место обучения кадров влечет за собой 
                    |процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям

    include ./../about/footer/footer
