@import url('../../fonts/fonts.css');
@import url('../about/about.scss');
@import url('./review/review.scss');
@import url('./feedback/feedback.scss');


.feedback__scroll-btn {
    .arrow-down {
        display: block;
        transform: rotate(180deg);
    }
}

.footer {
    // display: none;
}