extends ../base

block head
    title works page
block content

    include ./../about/hero/hero

    section.section.review
        .review__title.review__title-margin
            .review__title_bgr
            .review__title_block.block_title Что обо мне говорят
        .review__block
            .review__content
                .review__text.text-content
                    | Этот парень проходил обучение 
                    |веб-разработке не где-то, а в LoftSchool! 
                    |2 месяца только самых тяжелых испытаний и
                    | бессонных ночей!
                .review__autor
                    .review__autor-pic.review__pic-1
                    .review__autor_info.review__info_margin
                        .review__autor-name Ковальчук Дмитрий
                        .review__autor-status основатель Loftschool
            .review__content
                .review__text.text-content
                    | Этот код выдержит любые испытания.
                    | Только пожалуйста, не загружается сайт
                    |  на слишком старых браузерах!
                .review__autor
                    .review__autor-pic.review__pic-2
                    .review__autor_info.review__info_margin
                        .review__autor-name Сабанцев Владимир
                        .review__autor-status преподаватель

    section.section.feedback
        .feedback__block
            .feedback__title Связаться со мной
            .feedback__inputs
                input(type="text" placeholder="Имя")
                input(type="text" placeholder="Email")
                input(type="text" placeholder="Ваше сообщение")
            .feedback__buttons

        .feedback__scroll-btn
            button(type="button").arrow-down

    include ./../about/footer/footer




        

