@import url('../../fonts/fonts.css');
@import url('../about/about.scss');
@import url('../about/total-menu/total-menu.scss');
@import url('./slider/slider.scss');
@import url('./review/review.scss');
@import url('./feedback/feedback.scss');