@import url('../../fonts/fonts.css');
@import url('../about/about.scss');
@import url('./slider/slider.scss');
@import url('./review/review.scss');
@import url('./feedback/feedback.scss');

.section {
    max-width: 100%;
}