.map {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.google-map, .google-map img  {
    width: 100%;
    background-image: url(./map.jpg);
    height: 143vh;
    background-size: 100% auto;
}
.map-img {
    width: 100%;
}

.map__data {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contacts {
    padding: 27px 40px 10px 40px;
    background-color: rgba(255,255,255, .85);
    border-radius: 5px;
    // width: 18%;
}

.contacts__title {
    font-size: 36px;
    margin-bottom: 36px;
}

.block-subtitle {
    color: #373e42;
}

.block_title::before {
    content: "";
    background: #c4cbcd;
    margin-right: 20px; 
    width: 22px;
    height: 5px;
}

.block_title::after {
    content: "";
    background: #c4cbcd;
    margin-left: 20px;
    width: 22px;
    height: 5px;
}

.contats__list {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.contacts__item {
    display: flex;
    position: relative;
    align-items: center;
}

.contact-row {
    margin-bottom: 26px;
}

.contact-row_icon {
    background-size: cover;
    position: absolute;
    background-position: center;
}

.contact-row_icon_skype {
    background: url(../../../icons/skype.svg) no-repeat;
    height: 24px;
    width: 24px;
}
.contact-row_icon_mail {
    background: url(../../../icons/envelope.svg) no-repeat;
    height: 17px;
    width: 23px;
}
.contact-row_icon_phone {
    background: url(../../../icons/phone.svg) no-repeat;
    height: 24px;
    width: 24px;
}
.contact-row_icon_address {
    background: url(../../../icons/map_marker.svg) no-repeat;
    height: 24px;
    width: 24px;    
}

.contact-row_content {
    font-family: 'robotomedium';
    // flex-shrink: 16px;
    color: #455a64;
    margin-left: 34px;
}

@media screen and (max-width: 760px) {
    .contacts {
        padding: 27px 33px 10px;
    }

    .contacts__title .block-subtitle {
        font-size: 35px;
    }
}

@media screen and (max-width: 320px) {
    
}