extends ../base

block head
    title login page
block content
    header
        .header__login_form
            h2 АВТОРИЗУЙТЕСЬ
            .header__login_form_inputs
                input(type="text" placeholder="Логин")
                input(type="text" placeholder="Пароль")