header {
    background-image:  url(./login_bg.jpg);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.header__login_form {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    h2 {

    }
}

.header__login_form_inputs {
    
}