@import url('../../fonts/fonts.css');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:  url(./login_bg.jpg);
    background-size: cover;
    height: 100vh;
}

//Кнопка авторизации
.auth-block {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    width: 71.5%;
}

.auth-block__button_position {
    margin-top: 24px;
}

.auth-block__button {
    display: flex;
    justify-content: flex-end;
}

.auth-block__button_link {
    a {
        font-family: 'robotoregular';
        color: #ffffff;
        text-decoration: none;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 14px 27px;
        transition: .25s ease;
        display: block;
        &:hover {
            background-color: #ffffff;
            color: #00bfa5;
        }
        &:active {
            background-color:rgba(255,252,252,0.75);
            color: darken(#00bfa5, 10%);
        }
    }

}

//Форма авторизации
.auth-block__form {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-block__form_wrap {
    display: inline-block;
    background: rgba(255,252,252,0.75);
    border-radius: 5px;
    overflow: hidden;
    max-width: 385px;
}

.auth-block__form_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 19px 0;
    margin-bottom: 33px;

    h2 {
        font-size: 35px;
        text-transform: uppercase;
        margin: 0 0 33px 0;
        font-family: 'bernier_regularregular';
        color: #455a64;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            background: #c4cbcd;
            margin-right: 20px; 
            width: 22px;
            height: 5px;
        }
         
        &::after {
            content: "";
            background: #c4cbcd;
            margin-left: 20px; 
            width: 22px;
            height: 5px;
        }
    }
}

.auth-block__form_box_inputs {
    display: flex;
    flex-direction: column;
    width: 340px;

    input {
        border-radius: 0 4px 4px 0;
        border: none;
        width: 93%;
        outline: 0;
        padding: 0 20px;
        font-family: 'robotoregular';
        font-size: 16px;
        color: #373e42;
    }
}

.auth-block__form_box_inputs_log {
    display: flex;
    margin-bottom: 20px;
    &::before {
        content: "";
        background: url(../../icons/login-man.png) no-repeat;
        background-position: 50% 50%;
        background-color: #f0efe9;
        border-radius: 4px 0 0 4px;
        width: 58px;
        height: 45px;
    }
}

.auth-block__form_box_inputs_key {
    display: flex;
    margin-bottom: 20px;
    &::before {
        content: "";
        background: url(../../icons/login-key.png) no-repeat;
        background-position: 50% 50%;
        background-color: #f0efe9;
        border-radius: 4px 0 0 4px;
        width: 58px;
        height: 45px;
    }
}

.auth-block__robocheck {
    text-align: center;
    width: 100%;
} 

.auth-block__robocheck_iman {
    margin-bottom: 14px;

    label {
        font-family: 'robotoregular';
        font-size: 16px;
        color: #455a64;
        display: inline-flex;
    }
    input[type="checkbox"] {
        position: absolute;
        left: -9999px;
    }
    input[type="checkbox"] + label:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #00bfa5;
        margin-right: 10px;
        border-radius: 2px;
    }
    input[type="checkbox"]:checked + label:before {
        background: url('../../icons/checked_bg.png') no-repeat;
        background-color: #00bfa5;
        background-position: 50%;
    }
}

.auth-block__robocheck_qws {
    span {
        font-family: 'robotobold';
        font-size: 16px;
        color: #455a64;
        display: block;
        margin-bottom: 11px;
    }
}

.auth-block__ans {
    display: flex;
    justify-content: space-between;

    label {
        font-family: 'robotoregular';
        font-size: 16px;
        color: #455a64;
        display: inline-flex;
        color: #455a64;
    }
    input[type="radio"] {
        position: absolute;
        left: -9999px;
    }
    input[type="radio"] + label:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: #ffffff;
        border: 1px solid #cccdcd;
        border-radius: 20px;
        margin-right: 10px;
    }

    input[type="radio"]:checked + label:before {
        background: url('../../icons/checked_bg2.png') no-repeat;;
        background-color: #ffffff;
        background-position: 50%;
    }
}

.auth-block__ans_margin {
    max-width: 58%;
    margin: 0 auto;
}

.robocheck_checked {
    color: #00bfa5;
}

//Кнопки "На главную" и "Выход"
.auth-block__buttons {
    display: flex; 
}

.auth-block__escape_button {
    background-color: rgba(8,176,157,0.7);
    border: none;
    padding: 0;
    a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 14px 25px;
        transition: .25s ease;
        font-family: 'robotomedium';
        font-size: 16px;

        &:hover {
            background-color: rgba(8,140,132,0.7);;
        }
    }

    & + .auth-block__escape_button {
        border-left: 1px solid #74b9b7;
    }
}

.button_basis {
    flex-basis: 50%;
}

.footer {
    font-family: 'robotolight';
    font-size: em(16px);
}